body{
    background-image:url("https://cdn.pixabay.com/photo/2013/07/21/13/00/rose-165819__340.jpg");
  /*  background-size: 1200px;*/
    background-repeat: no-repeat
    
}

.container__main{
    border: #e1e1e1 1px solid;
    width: 398px;
    margin-left: 432px; 
    height: 258px;
    border-radius: 45px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
    
   
}
h2{
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: underline;
}


.Container{
    text-align: center;
    
    
}
.button{text-align: center;
    margin-left: 137px;
   

}