h1{
    text-align: center;
    font-size: xx-large;
    font-family: 'Courier New', Courier, monospace;
    color: rebeccapurple;
}
label{
    text-align: center ;
    padding-left: 15cm;
   
}
button{
    margin-left: 750px;
}


