h1{
    color: blue;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
label{
    color: blue;
    font-size: 32px;
    font-weight: 300;
padding-left: 578px;
}